:root {
  --font-family: 'Inter', sans-serif;
  --color-primary: #001690;
  --color-secondary: #701a75;
  --color-quaternary: #000833;
  --fg-tertiary: #ffffff;
  --fg-primary: #000000;
  --fg-secondary: #a6a6a6;
  --bg-success: #ffffff;
  --btn-primary-fg: #f8f8fa;
  --btn-primary-hover-fg: #f8f8fad5;
  --btn-success-hover-fg: #001690d8;
  --border-secondary: #a6a6a6;
  --divider-primary: #ffffff;
  --hero-overlap-size: 143.3px;
}

* {
  line-height: 1;
  font-size-adjust: 0.5;
}

html,
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-success);
  --video-size: var(--hero-overlap-size);

  @media (min-width: 600px) {
    --video-size: calc(var(--hero-overlap-size) * 1.5);
  }

  @media (min-width: 1024px) {
    --video-size: calc(var(--hero-overlap-size) * 2);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button,
.btn {
  font-family: var(--font-family);
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.btn {
  box-shadow: 0 4px 9px #0000000d;
  transition: color 0.35s ease-in-out;
}

.btn.primary {
  background-color: var(--color-primary);
  color: var(--btn-primary-fg);
}

.btn.primary:hover {
  color: var(--btn-primary-hover-fg);
}

.btn.success {
  background-color: var(--bg-success);
  color: var(--color-primary);
}

.btn.success:hover {
  color: var(--btn-success-hover-fg);
}

.btn.xs {
  font-weight: 500;
  line-height: 19.36px;
  font-size: 16px;
  padding: 0.6pc 1.1pc;
}

.btn.sm {
  font-weight: 500;
  line-height: 21.78px;
  font-size: 18px;
  padding: 0.8pc 1.6pc;
}

.btn.md {
  font-weight: 600;
  line-height: 30px;
  font-size: 18px;
  padding: 0.9pc 1.9pc;
}

.btn.round-md {
  border-radius: 0.6pc;
}

.btn.round-full {
  border-radius: 999px;
}

.full {
  width: 100%;
}

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
  padding-inline: clamp(1rem, 5vw, 3rem);
}

.hide {
  display: none;
}

/* features component */
.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;
  margin-bottom: 42px;

  li {
    --size: 28px;
    position: relative;
    padding-left: calc(var(--size) + var(--size) * 0.75);
    font-size: 16px;

    &::before {
      content: '';
      display: inline-block;
      background-image: url('./illus/check.svg');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: var(--size);
      height: var(--size);
    }

    span {
      font-weight: 600;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.features.two {
  display: flex;
  flex-direction: column;
  gap: 22px;
  li {
    color: var(--fg-secondary);
  }
}

/* hero section */
.hero {
  background-color: var(--bg-success);
  position: relative;
  isolation: isolate;
  z-index: 0;
  overflow: hidden;

  &::before {
    --blur-size: 300px;
    content: '';
    border-radius: 999px;
    filter: blur(
      calc(calc(var(--blur-size) / 2) + calc(var(--blur-size) / 2 * 0.25))
    );
    position: absolute;
    top: calc(var(--blur-size) / 2 * -1);
    left: calc(var(--blur-size) / 2 * -1);
    width: var(--blur-size);
    height: var(--blur-size);
    background-color: var(--color-primary);
    z-index: -1;
  }

  &::after {
    --blur-size: 300px;
    content: '';
    border-radius: 999px;
    filter: blur(
      calc(calc(var(--blur-size) / 2) + calc(var(--blur-size) / 2 * 0.5))
    );
    position: absolute;
    bottom: calc(var(--blur-size) / 2 * -1);
    right: calc(var(--blur-size) / 2 * -1);
    width: var(--blur-size);
    height: var(--blur-size);
    background-color: var(--color-primary);
    z-index: -1;
  }

  .content {
    .in {
      --pad: 42px;
      padding-top: var(--pad);
      padding-bottom: calc(var(--pad) + calc(var(--video-size) / 2));
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 'hero-two' 'hero-one';
      gap: calc(32px * 2);
      & > div:nth-child(1) {
        grid-area: hero-one;

        .tag {
          font-weight: 700;
          font-size: 35px;

          @media (min-width: 400px) {
            font-size: 42px;
          }

          @media (min-width: 1024px) {
            font-size: 49px;
          }
        }

        .underline {
          display: block;
          width: 70%;
        }

        .sub-tag:nth-of-type(1) {
          font-weight: 400;
          font-size: 18px;
          line-height: 1.2;
          margin-top: 18px;
        }

        .sub-tag:nth-of-type(2) {
          font-weight: 700;
          font-size: 16px;
          line-height: 1.2;
          margin: 22px 0;
        }
      }
      & > div:nth-child(2) {
        grid-area: hero-two;
        & .illus {
          --round: 10px;
          position: relative;
          background-color: var(--color-primary);
          display: flex;
          align-items: end;
          height: 270px;
          width: 60%;
          margin-inline: auto;
          border-radius: var(--round);
          isolation: isolate;

          img:not(.img):not(.wave) {
            --size: 30px;
            position: absolute;
            height: var(--size);
            &:nth-child(1) {
              left: calc(var(--size) * 1.2 * -1);
              top: 15%;
            }
            &:nth-child(2) {
              right: calc(var(--size) * 0.75 * -1);
              top: 5%;
            }
            &:nth-child(3) {
              bottom: calc(var(--size) * 0.75 * -1);
              right: 15%;
            }
          }

          .img {
            border-radius: var(--round);
            height: 90%;
            width: 100%;
            object-fit: cover;
            object-position: top left;

            @media (min-width: 1024px) {
              height: 80%;
            }
          }

          .wave {
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            z-index: -1;
            opacity: 0.35;
          }

          @media (min-width: 400px) {
            height: 300px;
            width: 70%;
          }

          @media (min-width: 1024px) {
            width: min(80%, 340px);
            height: 420px;
          }
        }
      }

      @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'hero-one hero-two';
        align-items: center;
      }
    }
  }
}

/* header */
header {
  padding: 10px 0;
  .in {
    --col-gap: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      gap: var(--col-gap);

      img {
        height: 50px;
        @media (min-width: 600px) {
          height: 40px;
        }
      }

      p {
        font-weight: 600;
        color: var(--color-primary);
        font-size: 24px;
      }

      p.show {
        display: none;
        @media (min-width: 600px) {
          display: block;
        }
      }
    }

    nav {
      display: none;
    }

    .cta {
      display: flex;
      align-items: center;
      gap: var(--col-gap);

      .menu {
        font-size: 28px;
        display: block;
        cursor: pointer;
        color: var(--color-quaternary);

        @media (min-width: 1024px) {
          display: none;
        }
      }
    }
  }
}

/* video */
.video {
  height: var(--video-size);
  position: relative;
  isolation: isolate;
  width: 95%;
  margin-inline: auto;
  margin-top: calc(var(--video-size) / 2 * -1);
  border-radius: 30px;
  overflow: hidden;
  resize: vertical;

  .over {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      --size: calc(var(--video-size) * 0.5);
      height: var(--size);
      width: var(--size);
      background-color: #121619bf;
      border-radius: 999px;
      color: #ffffff88;
      font-size: calc(var(--size) / 2);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .over.bg {
    background-image: linear-gradient(90deg, #001690b7, #701a75af 70%);
  }
}

.video.testimonial {
  width: var(--video-size);
  min-width: var(--video-size);
  margin-top: unset;
  margin-inline: unset;
}

/* show one */
.show-1 {
  padding: 42px 0;
  .in {
    & > div:nth-child(2) {
      padding-top: 52px;
      h2 {
        font-weight: 400;
        font-size: 26px;
        span {
          font-weight: 700;
        }

        @media (min-width: 600px) {
          h2 {
            font-size: 43px;
          }
        }
      }

      .top {
        padding-top: 32px;
      }
    }

    & > div:nth-child(1) {
      img {
        display: block;
        width: 70%;
        margin-inline: auto;

        @media (min-width: 1024px) {
          width: min(90%, 400px);
        }
      }
    }

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.steps {
  background-image: linear-gradient(180deg, #bac0e7, transparent 90%);
  padding: 92px 0;

  .in {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 92px;
    & > div:nth-of-type(1) {
      h2 {
        font-weight: 700;
        font-size: 33px;
      }

      img {
        width: 70%;
        display: block;
        margin-bottom: 22px;
      }
    }

    .highlights {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    li {
      display: flex;
      align-items: center;
      gap: 16px;

      & > span {
        --size: 60px;
        display: block;
        background-color: var(--bg-success);
        height: var(--size);
        width: var(--size);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 900;
        color: var(--color-primary);
        box-shadow: 0 4px 9px #0000000d;
      }
      & > div {
        p:nth-of-type(1) {
          color: var(--fg-primary);
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 8px;

          @media (min-width: 600px) {
            font-size: 29px;
          }
        }
        p:nth-of-type(2) {
          color: var(--fg-secondary);
          font-size: 16px;

          @media (min-width: 600px) {
            font-size: 18px;
          }
        }
      }
    }

    li.shift {
      margin-left: 0;

      @media (min-width: 600px) {
        margin-left: -25px;
      }
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 0;
    }
  }

  @media (min-width: 1024px) {
    background-image: linear-gradient(90deg, #bac0e7, transparent 90%);
  }
}

.show-2 {
  padding: 42px 0;
  .in {
    & > div:nth-of-type(1) {
      img {
        display: block;
        width: 70%;
        margin-inline: auto;

        @media (min-width: 1024px) {
          width: min(90%, 400px);
        }
      }
    }
    & > div:nth-of-type(2) {
      padding-top: 52px;

      h2 {
        font-weight: 700;
        font-size: 39px;

        @media (min-width: 1024px) {
          font-size: 50px;
        }
      }

      p {
        color: var(--fg-secondary);
        font-size: 18px;
        margin: 32px 0;
      }
    }

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.confirm {
  padding: 92px 0;
  background-image: linear-gradient(180deg, #d3d8f5, transparent 90%);

  .testimonials {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 52px;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      --size: 10px;
      width: var(--size);
      height: var(--size);
      border-radius: 999px;
    }

    /* Scrollbar thumb */
    &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(
        90deg,
        var(--color-primary),
        var(--color-secondary)
      );
      border-radius: 999px;
    }

    /* Scrollbar track */
    &::-webkit-scrollbar-track {
      background-color: var(--color-quaternary);
      border-radius: 999px;
    }

    /* Scrollbar buttons */
    &::-webkit-scrollbar-button {
      display: none;
    }
  }

  .faqs {
    h2 {
      font-size: 32px;
      color: var(--color-primary);
      text-align: center;
      margin-bottom: 32px;

      @media (min-width: 1024px) {
        font-size: 45px;
      }
    }
    .list {
      .card {
        background-color: var(--bg-success);
        border-radius: 5px;
        padding: 24px;
        box-shadow: 0 0px 10px #0000000d;

        .question {
          color: var(--color-primary);
          font-size: 18px;
          font-weight: 600;
          display: flex;
          align-items: center;
          gap: 32px;
          cursor: pointer;
        }

        .answer {
          font-size: 14px;
          margin-top: 24px;
          color: #363049;
          display: none;
          line-height: 1.3;
        }

        .answer.active {
          display: block;
        }
      }

      @media (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        gap: 32px;
      }
    }
  }
}
